<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Training</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
</head>
<body style="background: lightcyan" >



<details style="margin-bottom: 0.5rem; text-align: center; font-family: Montserrat" >
  <summary style="Montserrat-Bold">Базовый ТВ</summary>
  <details>
    <summary>ТВ</summary>
        <p>Задание: Посмотрите ТВ 10 минут</p>
        </details>
    <details>
    <summary>Радио</summary>
        <p>Задание: Послушайте радио 10 минут</p>
        </details>

</details>
<details style="margin-bottom: 0.5rem; text-align: center; font-family: Montserrat">
  <summary style="Montserrat-Bold">Все для фильмов</summary>
    <details>
  <summary>Как посмотреть фильм?</summary>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/RXoUoJjrNn4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>Задание: Посмотрите фильм 30 минут</p>
    </details>
    <details>
  <summary>Как остановить фильм?</summary>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/JxWt8rRSDYQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <fieldset>
            <p>Задание: Поставьте фильм на паузу</p>
</fieldset>
    </details>
    <p>Как перемотать фильм</p>
    <p>Скачивание фильмов</p>
    <p>Как выбрать избранные каналы</p>
    <p>Как обменять фильм</p>
    <p>Блогеры</p>
  </details>
<details style="margin-bottom: 0.5rem; text-align: center; font-family: Montserrat">
  <summary style="Montserrat-Bold">Все для совместного просмотра</summary>
  <details>
    <summary>Караоке</summary>
        <p>Задание: Спойте одну песню</p>
  </details>
  <details>
    <summary>Как посмотреть фильм с друзьями</summary>
        <p>Задание: Посмотрите фильм вместе с другом</p>
        </details>
</details>
<details style="margin-bottom: 0.5rem; text-align: center; font-family: Montserrat">
  <summary style="Montserrat-Bold">Семейные режимы</summary>
   <details>
    <summary>Как сделать аккаунт для ребенка</summary>
        <p>Задание: Создайте детский аккаунт</p>
   </details>
<details>
    <summary>Как поставить ограничения на каналы/контент</summary>
        <p>Задание: Ограничьте длительность просмотра фильма</p>
        </details>
    <p>Мультискрин</p>
</details>
</body>
</html>