<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
</head>
<body style="background: lightcyan">
  <style>
    #content {
        position: relative;
    }
    #content img {
        position: absolute;
        top: 0px;
        right: 0px;
    }
</style>

<div id="content">
    <a href="/ques"><img src="https://kartinkin.net/uploads/posts/2022-02/thumbs/1645008035_7-kartinkin-net-p-kartinki-znak-voprosa-7.png" width="30" height="30"></a>
</div>
</body>
</html>